
#msgid{
    margin:0 10px 0 10px;
    border:1px solid rgb(200,200,200);
    border-left-width:thick;
    border-left-color:rgb(225,40,180);
    background-color:rgb(255,228,248);
    border-radius:0 18px 18px 18px;

}#msgid1{
    margin:0 10px 0 10px;
    border:1px solid rgb(200,200,200);
    border-right-width:thick;
    border-right-color:rgb(225,40,180);
    background-color:rgb(255,228,248);
    border-radius:18px 18px 0 18px;

}

#msg2 .msgid2{
    border:1px solid rgb(200,200,200);
    border-right-width:thick;
    border-right-color:rgb(30,200,250);
    border-radius:18px 0 18px 18px;
    background-color:rgb(200,240,255);

}




.imguser{
    width:45px;
    height:45px;
    border-radius:50%;
    outline:3px solid white;
    margin:0;
}
.home_btn{
    color:white;
    border:1px solid white;
    border-radius:5px;
    margin-left:80%;
}
.chart_container{
    margin:10px;
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius:5px;

}
.cstm_row{
    display:flex;
    flex-direction:row;

}
.cstm_col{
    display:flex;
    flex-direction:column;

}