        <div class="cstm_col" >
            <div class="chart_container">
                <p>Total Orders placed</p>
                <canvas id="myChart" width="400" height="250"></canvas>
            </div>

            <div class="chart_container">
                <p>Number of accounts created</p>
                <canvas id="acc_created" width="400" height="250"></canvas>
            </div>
            <div class="chart_container">
                <p>Website performance(views)</p>
                <canvas id="performance" width="400" height="250"></canvas>
            </div>
        </div>
        <div class="cstm_col">
            <div class="chart_container">
                <p>Total income</p>
                <canvas id="income" width="400" height="250"></canvas>
                <p>Number of items sold</p>
                <canvas id="items_sold" width="400" height="250"></canvas>
            </div>

            <div class="chart_container">
                <p>Cancelation frequency</p>
                <canvas id="cancel" width="400" height="250"></canvas>
            </div>
        </div>
